.video-gallery {
  height: 300%;
  /* width: 46%; */
  /* padding-top: 13px; */
  /* display: block; */
  /* float: left; */
  /* padding: 0 0 0 0; */
  overflow: hidden;
}

.item,
.container {
  overflow: hidden;
  box-sizing: border-box;
}

.header {
  float: left;
}

.container {
  display: flex;
  justify-self: center;
  padding: -1px;
  top: 50px;
  position: absolute;
  flex-wrap: wrap;
  margin: 0px;
  padding: 8%;
}

.item {
  padding: 32px;
  /* flex: 0 32%; */
  /* float: left; */
  /* width: 32%; */
  margin: 5px;
}

.upper-line {
  width: 100%;
  border-bottom: 1px solid black;
  position: absolute;
  color: blanchedalmond;
}
.lower-line {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

.title {
  padding: 0 0 0 0;
  flex-wrap: inherit;
  /* float: left; */
}

div.gallery img {
  /* box-shadow: 1px 1px #ccc9d4; */
  width: 226px;
  height: 282px;
  box-shadow: 0px 0px 10px 2px #c4c4c4;
}
