.video-gallery {
  overflow: hidden;
  margin-left: 18%;
}

.item,
.container {
  overflow: hidden;
  box-sizing: border-box;
}

.header {
  float: left;
}

.container {
  display: flex;
  justify-self: center;
  padding: -1px;
  /* top: 50px; */
  position: absolute;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0 9%;
}

.item {
  padding: 10px;
  margin: 23px;
  box-shadow: 0px 0px 7px 3px #c9c9c9;
}

.upper-line {
  width: 100%;
  border-bottom: 1px solid black;
  position: absolute;
  color: blanchedalmond;
}
.lower-line {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
}

.title-video-gallery {
  font-size: 20px;
  text-align: left;
  padding: 24px;
  flex-wrap: inherit;
  /* float: left; */
  margin: 1px;
  /* float: left; */
  border-top: 1px solid #ccc9d466;
  border-bottom: 1px solid #ccc9d466;
  font-weight: bold;
}

div.gallery img {
  /* box-shadow: 1px 1px #ccc9d4; */
  width: 226px;
  height: 282px;
  box-shadow: 0px 0px 10px 2px #c4c4c4;
}

.one___flkjsjJJNJnn_nANN8hG_YG7GY7g7BH9 > video {
  width: 100%;
  /* height: 100%; */
  z-index: -1;
}

.one___flkjsjJJNJnn_nANN8hG_YG7GY7g7BH9 {
  width: 100%;
  height: 100%;
  color: #006eff;
  background: black;
  position: relative;
}
